<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather_icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
    
    {{>header}}    
    <p>This site was created by Fabiano Barbon. It uses data from mapbox.com and darksky.net!</p>
    <br />
    <img class="portrait" src="img/barbon.jpg">
    <br />

    </div>
    
    {{>footer}}
</body>

</html>